import type { Metadata } from 'next';

export const metadata: Metadata = {
  title: '{{pascalCase name}}',
  description: '{{pascalCase name}} description ....',
};

export default function {{pascalCase name}}() {
  return <h1>{{pascalCase name}} Page</h1>;
}
